/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`

@use "vuetify/settings" with (
  $color-pack: false,
  $body-font-family: "Pretendard"
);

// Define the fonts using @font-face
@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Semibold.woff") format("woff");
  font-weight: 600; /* Semibold */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Black.woff") format("woff");
  font-weight: 800; /* Black */
  font-style: normal;
}
